* {
    padding: 0;
    margin: 0;
}

// 子元素将按【行】排列
div.row-container {
    display: flex;
    flex-direction: column;
}

// 子元素将按【列】排列
div.col-container {
    display: flex;
    flex-direction: row;
}

// 子元素垂直居中
div.vertical-center {
    display: flex;
    align-items: center
}

// 子元素垂直居底
div.vertical-bottom {
    display: flex;
    align-items: flex-end;
}

// 自定义抽屉
.ant-drawer-content {
    .ant-drawer-wrapper-body {
        background-color: rgb(50, 50, 50);
        .ant-drawer-header {
            background-color: rgb(80, 80, 80);
            border-bottom: 0px;
            .ant-drawer-title {
                color: aliceblue;
            }
        }
        .ant-drawer-body {
            color: aliceblue;
        }
    }

}
