* {
    padding: 0;
    margin: 0;
}

// 子元素将按【行】排列
div.row-container {
    display: flex;
    flex-direction: column;
}

// 子元素将按【列】排列
div.col-container {
    display: flex;
    flex-direction: row;
}
